<!-- Begin Directory -->
<li>
  <input type="checkbox" id="<%= directory.id %>" checked="checked" />
  <label for="<%= directory.name %>"><%= directory.name %></label>
  <ul>
  <% directory.folders.each do |folder| %>
    <!-- Parent Folder Tree -->
    <li>
      <input type="checkbox" id="<%= folder.id %>" />
      <label for="<%= folder.name %>"><%= folder.name %></label>
      <ul>
      <% if folder.subfolders.any? %>
        <% folder.subfolders.each do |sub| %>
          <!-- Begin Subfolder Tree -->
          <li>
            <input type="checkbox" id="<%= sub.id %>" />
            <label for="<%= sub.name %>"><%= sub.name %></label>
            <ul>
              <% sub.subfolders.each do |sub_folder| %>
                <li>
                  <input type="checkbox" id="<%= sub_folder.id %>" />
                  <label for="<%= sub_folder.name %>"><%= sub_folder.name %></label>
                  <ul>
                    <%= render sub_folder.documents %>
                    <%= render sub_folder.subfolders %>
                  </ul>
                </li>
              <% end %>
              <!-- Subfolder Documents -->
              <%= render sub.documents %>
            </ul>
          </li>
        <% end %>
      <% end %>
      <!-- Parent Documents -->
      <%= render folder.documents %>
      </ul>
    </li>
  <% end %>
  </ul>
</li>
