<!-- Begin Subfolder Tree -->
<li>
  <input type="checkbox" id="<%= folder.id %>" />
  <label for="<%= folder.name %>"><%= folder.name %></label>
  <ul>
    <% folder.subfolders.each do |subfolder| %>
      <li>
        <input type="checkbox" id="<%= subfolder.id %>" />
        <label for="<%= subfolder.name %>"><%= subfolder.name %></label>
        <ul>
          <%= render subfolder.documents %>
          <%= render subfolder.subfolders %>
        </ul>
      </li>
    <% end %>
    <!-- Subfolder Documents -->
    <%= render folder.documents %>
  </ul>
</li>
