<% folder.subfolders.each do |sub| %>
  <!-- Begin Subfolder Tree -->
  <li>
    <input type="checkbox" id="<%= sub.id %>" />
    <label for="<%= sub.name %>"><%= sub.name %></label>
    <ul>
      <% sub.subfolders.each do |sub_folder| %>
        <li>
          <input type="checkbox" id="<%= sub_folder.id %>" />
          <label for="<%= sub_folder.name %>"><%= sub_folder.name %></label>
          <ul>
            <%= render sub_folder.documents %>
            <%= render sub_folder.subfolders %>
          </ul>
        </li>
      <% end %>
      <!-- Subfolder Documents -->
      <%= render sub.documents %>
    </ul>
  </li>
<% end %>
